<!DOCTYPE html>
<!--Pour que thymeleaf puisse prendre en compte
    la bibliothèque suivante, il faut l'ajouter à
    la dépendance dans pom.xml
-->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/pagination.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Le titre peut provenir du modèle: dynamique-->
    <title>Page Layout</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" th:href="@{/user/products}">Home<span class="sr-only">(current)</span></a>
            <a class="nav-link" th:href="@{/admin/formProduit}">Products</a>
            <a class="nav-link" href="#">Catégories</a>
            <a class="nav-link" href="#">Catalogue</a>
        </div>
        <div class="navbar-nav pull-right">
            <a th:href="@{/logout}">Log out</a>
        </div>
    </div>
</nav>
<section layout:fragment="nomContent"></section>
    <div class="card-footer text-muted ">
        TSARA BE
    </div>
</body>
</html>